<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="myChoice.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>커뮤니티</title>
</head>

<body>
    <div class="wrap">
        <div class="back_button">
            <a th:href="@{/}">
                < 돌아가기</a></div> <section class="pageMain">
                    <div class="img"></div>
                    <div class="mainContent">
                        <div class="id">
							<div class="name" th:text="*{MyChoice.id}"></div>
							
                        </div>
                        <div class="myPlay">
                            <div>
                            	진행중인 분할법
                            </div>
                            <div class="playList">   
                                <a th:text="' - ' + ${routine}"></a>
                            </div>
                        </div>
                        <div class="allDate">
                            <div class="startDate">
                                <div>
                                    Start Date
                                </div> 
                                <div>
                                    <span th:text="${start}">- 2022-15-15</span>
                                </div>
                            </div>
                            <div class="endDate">
                                <div>End Date</div>
                                <div th:text="${end}">- 2022-15-15</div>
                            </div>
                        </div>
                    </div>
                    </section>
        </div>
</body>

</html>