<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="newuser.css">
    <title>Document</title>
</head>

<body>
    <div class="wrap">
    <button class="back_button">
      <a th:href="@{/login}">돌아가기</a>
    </button>
        <div class="login_main">
            <div class="login_box">
                <div class="login_title">User Add</div>
                <div>
                    <form action="newuser" th:action="@{/login/newuser}" th:object="${humanCreateForm}" method="post">
                        <label for="id">아이디</label>
                        <div class="id_box">
                            <input type="text" id="id" placeholder="ID를 입력해주세요" th:field="*{id}" class="input">
                            <div class="error" id="eid">4~10자로 이루어진 문자와 숫자만 가능합니다.</div>
                        </div>
                        <label for="pwd">비밀번호</label>
                        <div class="pwd_box1">
                            <input type="password" placeholder="비밀번호를 입력해주세요." id="pwd" th:field="*{password}" class="input">
                             <div class="error" id="epw1">4자 이상의 비밀번호를 입력해주세요</div>
                        </div>
                        <label for="pwd_check">비밀번호 확인</label>
                        <div class="pwd_box2">
                            <input type="password" placeholder="위와 똑같이 입력해주세요." id="pwd_check" th:field="*{PasswordCheck}" class="input">
                     		<div class="error" id="epw2">위의 비밀번호와 동일해야합니다.</div>
                        </div>
                        <label for="email">이메일</label>
                        <div class="email_box">
                            <input type="email" placeholder="E-mail을 입력해주세요" id="email" th:field="*{email}" class="input">
                            <div class="error" id="ev">정확한 이메일을 입력해주세요.</div>
                        </div>
                        <hr>
                        <button class="newuser_button" onclick="lastCheck()">가입</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

var check = [];
function valuetest() { 
    var E = document.getElementsByClassName('.error');
    var inputclass = document.getElementsByClassName('input');
    var idcheck = /^[a-zA-Z0-9_-]{4,10}$/;


    inputclass[0].addEventListener("focusout", function (){
        var idv = document.getElementById("id").value;

        if(!idcheck.test(idv))
        {
            document.getElementById("eid").style.cssText = 'opacity: 1;'
            check[0] = 1;
            document.getElementById("id").style.cssText = 'border: 1px solid red; border-radius: 4px;'
        }
        else
        {
            document.getElementById("eid").style.cssText = 'opacity: 0;'
            check[0] = 0;
            document.getElementById("id").style.cssText = 'border: 1px solid white;'
            document.getElementById("id").style.cssText = 'border-bottom: 1px solid rgb(0,86,145);'
        }
})

    inputclass[1].addEventListener("focusout", function (){
        var pwdv1 = document.getElementById("pwd").value;

        if(pwdv1.length <= "asdf".length)
        {
            document.getElementById("epw1").style.cssText = 'opacity: 1;'
            check[1] = 1;
            document.getElementById("pwd").style.cssText = 'border: 1px solid red; border-radius: 4px;'
        }
        if(pwdv1.length > "asdf".length)
        {
            document.getElementById("epw1").style.cssText = 'opacity: 0;'
            check[1] = 0;
            document.getElementById("pwd").style.cssText = 'border: 1px solid white;'
            document.getElementById("pwd").style.cssText = 'border-bottom: 1px solid rgb(0,86,145); '
        }
})

inputclass[2].addEventListener("focusout", function (){
        var pwdv1 = document.getElementById("pwd").value;
        var pwdv2 = document.getElementById("pwd_check").value;

        if(pwdv1 != pwdv2)
        {
            document.getElementById("epw2").style.cssText = 'opacity: 1;'
            check[2] = 1;
            document.getElementById("pwd_check").style.cssText = 'border: 1px solid red; border-radius: 4px; '
        }
        else
        {
            document.getElementById("epw2").style.cssText = 'opacity: 0;'
            check[2] = 0;
            document.getElementById("pwd_check").style.cssText = 'border: 1px solid white;'
            document.getElementById("pwd_check").style.cssText = 'border-bottom: 1px solid rgb(0,86,145);'
        }
})

inputclass[3].addEventListener("focusout", function (){
        var mail = document.getElementById("email").value;
        var checkmail = /^[a-zA-Z0-9]([-_\.]?[0-9a-zA-Z]){2,}@[a-zA-Z]{2,}\.[a-zA-Z]{2,3}$/;
        if(!checkmail.test(mail))
        {
            document.getElementById("ev").style.cssText = 'opacity: 1;'
            check[3] = 1;
            document.getElementById("email").style.cssText = 'border: 1px solid red; border-radius: 4px;'
        }
        else
        {
            document.getElementById("ev").style.cssText = 'opacity: 0;'
            check[3] = 0;
            document.getElementById("email").style.cssText = 'border: 1px solid white; border-bottom: 1px solid rgb(0,86,145);'
        }
})
}
window.onload = function(){
    valuetest()
}

function lastCheck(){
    if(check[0] + check[1] +check[2] + check[3] != 0)
    {
        console.log(check[0] + check[1] +check[2] + check[3]);
        alert("올바른 작성양식을 준수해주세요.");
    }
}
</script>
</html>